<aside [class]="(sideStatus | async) ? 'w-72 p-3 text-md' : 'w-0 p-0 text-zero'" class="transition-all ease-in-out duration-500 h-screen fixed left-0 top-0 z-20 shadow shadow-2xl bg-white">
  <nav [class]="(sideStatus | async) ? '' : 'hidden'" class="text-teal h-full p-1 w-full flex flex-col justify-start items-start">
    <a class="p-2 my-2 mx-0 w-full h-10 flex hover:border hover:rounded hover:bg-gray-200 justify-start items-center" [routerLink]="['/orders']" routerLinkActive="router-link-active">
      <span>
        <fa-icon [icon]="faHome" class="mr-5"></fa-icon> Home
      </span>
    </a>

    <a class="p-2 my-2 mx-0 w-full h-10 flex hover:border hover:rounded hover:bg-gray-200 justify-start items-center" [routerLink]="['/admins']" routerLinkActive="router-link-active" >
      <span>
        <fa-icon [icon]="faUser" class="mr-5"></fa-icon> Admins
      </span>
    </a>

    <a class="p-2 my-2 mx-0 w-full h-10 flex hover:border hover:rounded hover:bg-gray-200 justify-start items-center" [routerLink]="['/branch']" routerLinkActive="router-link-active">
      <span>
        <fa-icon [icon]="faDoors" class="mr-5"></fa-icon> Branches
      </span>
    </a>
    <a class="p-2 my-2 mx-0 w-full h-10 flex hover:border hover:rounded hover:bg-gray-200 justify-start items-center" [routerLink]="['/food']" routerLinkActive="router-link-active">
      <span>
        <fa-icon [icon]="faTumbler" class="mr-5"></fa-icon> Foods
      </span>
    </a>

    <a class="p-2 my-2 mx-0 w-full h-10 flex hover:border hover:rounded hover:bg-gray-200 justify-start items-center" [routerLink]="['/orders']" routerLinkActive="router-link-active">
      <span>
        <fa-icon [icon]="faBars" class="mr-5"></fa-icon> Orders
      </span>
    </a>

    <a class="p-2 my-2 mx-0 w-full h-10 flex hover:border hover:rounded hover:bg-gray-200 justify-start items-center" [routerLink]="['/inventory']" routerLinkActive="router-link-active">
      <span>
        <fa-icon [icon]="faPie" class="mr-5"></fa-icon> Inventory
      </span>
    </a>
  </nav>
</aside>
