<article class="w-full min-h-screen">
    <div class="w-100 flex justify-between items-center p-2 pt-5">
      <span class="hover:bg-gray-200 w-2/3 p-3" [class]="(switchBranch === 'branchTable') ? 'bg-gray-400' : ''" (click)="setSwitch('branchTable')">
        <fa-icon [icon]="faBars"></fa-icon>Dashboard</span>
      <span class="hover:bg-gray-200 w-2/3 p-3" [class]="(switchBranch === 'createBranch') ? 'bg-gray-400' : ''" (click)="setSwitch('createBranch')">
        <fa-icon [icon]="faBars"></fa-icon>Create Branch</span>
      <span class="hover:bg-gray-200 w-2/3 p-3" [class]="(switchBranch === 'assignBranchTable') ? 'bg-gray-400' : ''" (click)="setSwitch('assignBranchTable')">
        <fa-icon [icon]="faBars"></fa-icon>Assign Branch Admin</span>
    </div>
    <section class="w-full min-h-100 flex flex-col">
      <ng-container *ngIf="switchBranch === 'branchTable'">
        <table class="table-auto w-full shadow-lg">
          <thead class="p-12">
            <tr class="text-center font-smaller text-gray-400">
              <th class="py-3 text-xs">S/No</th>
              <th class="py-3 text-xs">Branch Name</th>
              <th class="py-3 text-xs">Branch Location</th>
              <th class="py-3 text-xs">Branch Status</th>
              <th class="py-3 text-xs">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-t border-gray-200 text-sm text-center">
              <td class="py-3">See</td>
              <td class="py-3">Me</td>
              <td class="py-3">Her</td>
              <td class="py-3">Again</td>
              <td class="py-3">For</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-container *ngIf="switchBranch === 'createBranch'">
        <div class="w-full flex flex-row justify-around items-center h-auto mt-5">
          <div class="p-3 min-h-60 shadow-md border rounded-md flex flex-col justify-evenly items-stretch w-full md:w-2/4">
            <h4>Add New Branch</h4>
            <hr class="w-full mb-6">
            <div class="relative my-5 focus-within:text-gray-600 text-gray-400">
              <label for="branchAdmin" class="absolute left-1 -top-6 transition-all duration-150">Branch Admin</label>
              <select name="" id="" class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600">
                <option value=""></option>
                <option value=""></option>
              </select>
              <div class="absolute left-3 top-2">
                <fa-icon [icon]="faUser"></fa-icon>
              </div>
            </div>
            <div class="relative my-5 focus-within:text-gray-600 text-gray-400">
              <label for="branchName" class="absolute left-1 -top-6 transition-all duration-150">Branch Name</label>
              <input type="text" name="" id="" class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600">
              <div class="absolute left-3 top-2">
                <fa-icon [icon]="faLock"></fa-icon>
              </div>
            </div>
            <div class="relative my-5 focus-within:text-gray-600 text-gray-400">
              <label for="branchAddress" class="absolute left-1 -top-6 transition-all duration-150">Branch Address</label>
              <input type="text" name="" id="" class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600">
              <div class="absolute left-3 top-2">
                <fa-icon [icon]="faBranch"></fa-icon>
              </div>
            </div>
            <button class="self-end">Add Item Tray</button>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="switchBranch === 'assignBranchTable'">
        <div class="w-full flex flex-row justify-around items-center h-auto mt-5">
          <div class="p-3 min-h-60 shadow-md border rounded-md flex flex-col justify-evenly items-stretch w-full md:w-2/4">
            <h4>Add New Branch</h4>
            <hr class="w-full mb-6">
            <div class="relative my-5 focus-within:text-gray-600 text-gray-400">
              <label for="branchAdmin" class="absolute left-1 -top-6 transition-all duration-150">Branch Admin</label>
              <select name="" id="" class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600">
                <option value=""></option>
                <option value=""></option>
              </select>
              <div class="absolute left-3 top-2">
                <fa-icon [icon]="faUser"></fa-icon>
              </div>
            </div>
            <div class="relative my-5 focus-within:text-gray-600 text-gray-400">
              <label for="branchName" class="absolute left-1 -top-6 transition-all duration-150">Branch Name</label>
              <select name="" id="" class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600">
                <option value=""></option>
                <option value=""></option>
              </select>
              <div class="absolute left-3 top-2">
                <fa-icon [icon]="faLock"></fa-icon>
              </div>
            </div>
            <button class="self-end">Add Item Tray</button>
          </div>
        </div>
      </ng-container>
    </section>
  </article>
