<article class="w-full min-h-screen">
  <div class="w-100 flex justify-between items-center p-2 pt-5">
    <span class="hover:bg-gray-200 w-1/2 p-3" [class]="(switchAdmin === 'adminTable') ? 'bg-gray-400' : ''" (click)="setSwitch('adminTable')">
      <fa-icon [icon]="faBars"></fa-icon>
      Dashboard
    </span>
    <span class="p-3 hover:bg-gray-200 w-1/2" [class]="(switchAdmin === 'createAdmin') ? 'bg-gray-400' : ''" (click)="setSwitch('createAdmin')">
      <fa-icon [icon]="faBarSolid"></fa-icon>
      Create Admin
    </span>
  </div>
  <section class="w-full min-h-100 flex flex-col">
    <ng-container *ngIf="switchAdmin === 'adminTable'">
      <table class="table-auto w-full shadow-lg">
        <thead class="p-12">
          <tr class="text-center font-smaller text-gray-400">
            <th class="py-3 text-xs">S/No</th>
            <th class="py-3 text-xs">First Name</th>
            <th class="py-3 text-xs">Last Name</th>
            <th class="py-3 text-xs">Email Address</th>
            <th class="py-3 text-xs">Phone Number</th>
            <th class="py-3 text-xs">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of (tableAdmin | async)?.data; let i = index" class="border-t border-gray-200 text-sm text-center">
            <td class="py-3">{{i + 1}}</td>
            <td class="py-3">{{item.firstName}}</td>
            <td class="py-3">{{item.lastName}}</td>
            <td class="py-3">{{item.email}}</td>
            <td class="py-3">{{item.mobile}}</td>
            <td class="py-3">For</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-container *ngIf="switchAdmin === 'createAdmin'">
      <div class="w-full flex flex-row justify-around items-center h-auto">
        <div class="p-3 min-h-60 shadow-md border rounded-md flex flex-col justify-evenly items-stretch w-full md:w-3/5">
          <h4 class="text-teal font-bold mb-5">Add New Admin</h4>
          <hr class="w-full mb-5">
          <form [formGroup]="createAdminForm" class="w-full flex flex-col justify-evenly items-stretch">
            <div class="flex flex-col justify-around items-center mt-4 w-full md:flex-row">
              <div class="relative my-3 focus-within:text-gray-600 text-gray-400 w-full md:w-5/12">
                <label for="firstName" class="absolute left-1 -top-6 transition-all duration-150">First Name</label>
                <input type="text" formControlName="firstName" id="firstName" class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600">
                <div class="absolute left-3 top-2">
                  <fa-icon [icon]="faUser"></fa-icon>
                </div>
              </div>
              <div class="relative my-3 focus-within:text-gray-600 text-gray-400 w-full md:w-5/12">
                <label for="lastName" class="absolute left-1 -top-6 transition-all duration-150">Last Name</label>
                <input type="text" formControlName="lastName" id="lastName" class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600">
                <div class="absolute left-3 top-2">
                  <fa-icon [icon]="faGroup"></fa-icon>
                </div>
              </div>
            </div>
            <div class="flex flex-col justify-around items-center mt-4 w-full md:flex-row">
              <div class="relative my-3 focus-within:text-gray-600 text-gray-400 w-full md:w-5/12">
                <label for="email" class="absolute left-1 -top-6 transition-all duration-150">Email</label>
                <input type="email" formControlName="email" id="email" class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600">
                <div class="absolute left-3 top-2">
                  <fa-icon [icon]="faEnv"></fa-icon>
                </div>
              </div>
              <div class="relative my-3 focus-within:text-gray-600 text-gray-400 w-full md:w-5/12">
                <label for="password" class="absolute left-1 -top-6 transition-all duration-150">Password</label>
                <input type="password" formControlName="password" id="password" class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600">
                <div class="absolute left-3 top-2">
                  <fa-icon [icon]="faLock"></fa-icon>
                </div>
              </div>
            </div>
            <div class="flex flex-col justify-around items-center mt-4 w-full md:flex-row">
              <div class="relative my-3 focus-within:text-gray-600 text-gray-400 w-full md:w-5/12">
                <label for="mobile" class="absolute left-1 -top-6 transition-all duration-150">Phone Number</label>
                <input type="text" formControlName="mobile" id="mobile" class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600">
                <div class="absolute left-3 top-2">
                  <fa-icon [icon]="faPhone"></fa-icon>
                </div>
              </div>
              <div class="relative my-3 focus-within:text-gray-600 text-gray-400 w-full md:w-5/12">
                <label for="permission" class="absolute left-1 -top-6 transition-all duration-150">Permission</label>
                <select formControlName="permission" id="permission" class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600">
                  <option value="Read, Create">Read, Create</option>
                  <option value="Read, Create, Update">Read, Create, Update</option>
                  <option value="Read, Create, Update, Delete">Read, Create, Update, Delete</option>
                </select>
                <div class="absolute left-3 top-2">
                  <fa-icon [icon]="faUserSuit"></fa-icon>
                </div>
              </div>
            </div>
            <button (click)="createAdmin()" class="self-end border p-2 my-5" [class]="!createAdminForm.valid ? 'bg-gray-300 text-gray-400' : 'bg-blue-400'">Create Admin</button>
          </form>
        </div>
      </div>
    </ng-container>
  </section>
</article>
