<section class="w-full flex flex-col justify-start items-center shadow-md border-2 rounded-md p-4 mt-5 md:m-auto md:w-1/2 lg:w-2/4">
 <h4 class="w-full">Welcome</h4>
 <p class="w-full">Sign In to Continue</p>
 <div class="flex flex-col w-full">
   <label for="username">Email</label>
   <div class="relative my-3 focus-within:text-gray-600 text-gray-400">
     <input type="text" name="username" id="username" class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600">
     <div class="absolute left-3 top-2">
       <fa-icon [icon]="faPerson"></fa-icon>
     </div>
   </div>
 </div>
 <div class="flex flex-col w-full">
  <label for="password">Password</label>
   <div class="relative my-3 focus-within:text-gray-600 text-gray-400">
     <input type="password" id="password" name="password" class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600">
     <div class="absolute left-3 top-2">
       <fa-icon [icon]="faLock"></fa-icon>
     </div>
   </div>
 </div>
 <button class="self-end px-3 py-2 border">Sign In</button>
</section>
